footer {
    color: white;
    background-color: black;
    padding: 10px;
    font-size: .9rem;

    p {
        width: 100%;
    }

    div {
        display: flex;
        justify-content: center;
    }

    a:visited {
        color: white;
    }
}