h1 {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s ease;
    color: black;
}