h1 {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s ease;
}