// FRIDGE SECTION 
h2 {
    font-size: 2rem;
    text-align: center;
}

.fridgeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border: dotted 3px midnightblue;
    border-radius: 35px;
    padding-top: 15px;
}

p {
    width: 70%;
    text-align: center;
    margin: 10px 0;
}

span {
    font-weight: bold;
}

// FORM
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    border: dotted 3px midnightblue;
    border-radius: 35px;
}

input {
    margin: 10px 0;
    width: 50%;
    border: 3px solid black;
    border-radius: 30px;
    transition: .3s ease;
    text-align: center;
}

label {
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    margin: 20px 0;

}

button {
    padding: 15px;
    color: white;
    border: 3px solid black;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover,
button:focus {
    text-decoration: 2px underline;
}

.getRecipes {
    margin-right: 20px;
    background-color: teal;
}

.reset {
    background-color: tomato;
}

// RECIPES SECTION

.recipes {
    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 5px;
    }
}

ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: dotted 3px midnightblue;
    border-radius: 35px;
    padding: 20px;
    transition: .3s ease;
}

li {
    margin: 0 10px;
    width: 33%;
    text-align: center;
    margin: 10px;
}

img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 2px;
}

a {
    text-decoration: 2px underline;
    color: black;
}

a:hover,
a:focus {
    text-decoration: none;
}