html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1260px;
}

html {
  font-size: 125%;
  background-color: lightsteelblue;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Rubik Bubbles", cursive;
  font-size: 3.5rem;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fridgeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  border: dotted 3px midnightblue;
  border-radius: 35px;
  padding-top: 15px;
}
.fridgeText h2 {
  font-size: 2rem;
  text-align: center;
}
.fridgeText p {
  width: 70%;
  text-align: center;
  margin: 10px 0;
}
.fridgeText span {
  font-weight: bold;
}

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}
.recipes h2 {
  margin-bottom: 5px;
  text-align: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  border: dotted 3px midnightblue;
  border-radius: 35px;
  padding: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
ul li {
  margin: 0 10px;
  width: 33%;
  text-align: center;
  margin: 10px;
}
ul li img {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 2px;
}
ul li a {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  color: black;
}
ul li a:hover,
ul li a:focus {
  text-decoration: none;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 15px;
  border: dotted 3px midnightblue;
  border-radius: 35px;
}
form input {
  margin: 10px 0;
  width: 50%;
  border: 3px solid black;
  border-radius: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center;
}
form label {
  letter-spacing: 1px;
}
form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}
form .buttons button {
  padding: 15px;
  color: white;
  border: 3px solid black;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
}
form .buttons .getRecipes {
  margin-right: 20px;
  background-color: teal;
}
form .buttons .reset {
  background-color: #C21010;
}

footer {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 0.8rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer div {
  text-align: center;
}
footer div p {
  width: 100%;
}
footer div a,
footer div a:visited {
  color: white;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  form input {
    width: 100%;
  }
  h1 {
    font-size: 3rem;
  }
}
.fridgeText h2 {
  font-size: 1.8rem;
  padding: 8px;
}
.fridgeText p {
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  .fridgeText h2 {
    font-size: 1.5rem;
  }
  .recipes {
    margin-bottom: inherit;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ul li {
    width: 100%;
  }
  footer {
    position: static;
  }
}
@media (max-width: 400px) {
  .wrapper {
    width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  .fridgeText h2 {
    font-size: 1.5rem;
    padding: 5px;
  }
  .fridgeText p {
    font-size: 0.8rem;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttons button {
    width: 100%;
  }
  .buttons .reset {
    margin-top: 10px;
  }
  .buttons .getRecipes {
    margin-right: 0;
  }
  footer {
    padding: 10px 0;
  }
}